name: Build, Lint and Test

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build_lint_test:
    runs-on: ubuntu-latest
    steps:
      - name: Handled by CircleCI
        run: echo "Build, lint and test are handled by CircleCI (ci/circleci: build_lint_test)"
